/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}

/* Application Styles */
body,h1,h2,h3,h4,h5,h6,p,a,i,tr,td, span {
  font-family: 'Oswald', sans-serif;
  color: #3f3f3f;
  text-decoration: none;
}

a:hover, a:focus, a:active {
  color: #3f3f3f;
}

.wrapper {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  text-align: center;
}

header, article, footer {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.block {
  margin: 10px auto;
  padding: 5px;
}

.title, .hours {
  display: block;
  width: 100%;
  text-align: center;
}

.title {
  font-size: 24px;
}

.hours {
  font-size: 16px;
}

h1 {
  margin: 15px auto;
  font-size: 72px;
  text-transform: uppercase;
  text-align: center;
}

.change {
  margin: 35px auto 15px;
}

button {
  display: block;
  width: 80%;
  height: 70px;
  margin: 0 auto;
  padding: 8px 12px;
  color: #ffffff;
  background-color: #3f3f3f;
  border-radius: 0px;
  border: 0px;
  cursor: pointer;
}

button:hover, button:focus, button:active {
  background-color: #6f6f6f;
}

footer {
  padding: 15px 0px;
  text-align: center;
}
